*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(45deg,black,grey);

}
.table{
    height:800px;
    width: 500px;
background-color: black;
}




