*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(pink,aqua);
    background-repeat: no-repeat;
    background-size: cover;
background-size: cover;
height:1600px;
max-width: 768px;


}


.content{
     font-size: 40px;
     font-family: poppins;
     padding-left: 180px;
     margin-top: 140px;
     height: 250px;
}
.buttons a input:hover{
          transform:scale(1.08);
        
          border-radius: 20px;

}
.container{
    max-height: 120px;
    width: 100;
}
.signlog{
    display:flex;
    font-size: 25px;
    
    margin-right: -530px;
    padding-top: 4px;
    text-decoration: none;
    margin-top: -45px;
    flex-direction: row;
    justify-content: flex-end;
}
.signlog a{
    text-decoration: none;

    margin-right: 40px;
    margin-bottom: 25px;

}
.signlog a:hover{
    transform: scale(1.08);
    font-size: 25px;
    
        
}
#log a:hover{
    border-radius: 50px;
    transform: scale(1.05);
    background-color:pink;
}
.signlog a input{
transform: scale(2);
    color: black;
    background-image: linear-gradient(55deg,pink);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.signlog a input:hover{
    background-color: pink;
    border-radius: 5px;
    
}
.image img{
    margin-left: 300px;
    align-items: center;
    margin-top: -240px;
    width: 250px;
    height: 350px;
    margin-left: 700px;
}

.logo img{
    height:140px;
    width:140px;
}
.logo h1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 30px;
    
}
.te{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top:0px;
    margin-right: -520px;
}
.te a{

    margin-top: 0px;
    text-decoration: none;
    color:black;
    margin-right: 20px;
    margin-bottom: 100%;
    padding: 0%;
    font-size:25px;
    background-color:aquamarine,grey;

}
.te a:hover{
           border-radius: 20px;
           background-color:aqua,grey;
        
           padding-left: 10px;
           padding-right: 10px;
           border: 2px solid;


}
.page2{
    font-size: 50px;
    font-family: poppins;
    padding-left: 500px;
    align-items: center;
    margin-top: 150px;

}

.page2cont p{
    font-size: 20px;
    align-items: center;
    margin-left: -350px;
    margin-top: 20px;
    margin-right: 200px;
}
.button2 a input:hover{
            transform:scale(1.08);
            
            

}
footer{
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.foot1{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.foot2{
    padding-left: 150px;
    align-items: center;
    text-decoration: none;
    margin-top: 300px;

}
ul{
    list-style:  none;
    padding-bottom: 10px;
    line-height: 30px;
}
.subscribe{
    align-items: center;
    margin-left: 150px;
    width:600px;
    height:10px;
    border-radius: 30px;
    margin-top: 100px;
}
.subscribe{
    font-size: 25px;
    margin-left: 200px;
    width:300px;
    
}
.mail{
    display: flex;
    align-items:baseline;
}
.foot2{
    margin-left: 100px;
    margin-top: 200px;
    width:500px
}
.foot2 ul li a{
    text-decoration: none;
    color: black;
    width:500px;
    height: 300px;

}
.foot3{
    margin-left: 0px;
    margin-top: 200px;
    width:400px;
}
.foot3 ul li a{
    text-decoration: none;
    color: black;
    width:300px;
    height: 300px;

}

.foot1{
    display: flex;
    justify-content:flex-start;
    margin-top: 500px;
    margin-left: 250px;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
}
.social{
    margin-top: 290px;
    margin-left: -40px;
}
.social ul{
    position: relative;
    flex-direction:row;
    align-items: flex-start;
    display: flex;
    list-style-type: none;
    margin:0px;
}
.social h3{
   margin-bottom: 20px;
}
.social img{
    height: 25px;
    width:25px;
    padding:0;
    margin-left: 3px;
    margin-right: 3px;
}
.social img:hover{
    transform: scale(1.08);
}
.foot3{
    display: flex;
}